openapi: 3.0.3
info:
  title: Zoea Super App API
  description: Comprehensive API for Zoea Super App - Listings, Bookings, Payments, and more
  version: 2.0.0
  contact:
    name: Zoea API Support
    email: api@zoearwanda.com

servers:
  - url: https://api.zoearwanda.com/v2
    description: Production server
  - url: https://staging-api.zoearwanda.com/v2
    description: Staging server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
  
  schemas:
    # Common Schemas
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        limit:
          type: integer
          minimum: 1
          example: 20
        total:
          type: integer
          example: 125
        totalPages:
          type: integer
          example: 7

    SuccessResponse:
      type: object
      required:
        - status
        - message
        - data
      properties:
        status:
          type: string
          enum: [success]
          description: "Indicates the API operation completed successfully"
        message:
          type: string
          description: "User-friendly description of the operation result"
          example: "Operation completed successfully"
        data:
          description: "Payload returned by the API. Use an empty object when no data is available."
          nullable: true
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: {}
            - type: string
            - type: number
            - type: boolean
          default: {}

    PaginatedResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          required:
            - pagination
          properties:
            pagination:
              $ref: '#/components/schemas/Pagination'
    
    ErrorResponse:
      type: object
      required:
        - status
        - message
        - error
      properties:
        status:
          type: string
          enum: [error]
          description: "Indicates the API operation resulted in an error"
        message:
          type: string
          description: "High-level description of the error"
          example: "Invalid request parameters"
        error:
          type: object
          required:
            - code
            - details
          properties:
            code:
              type: string
              description: "Machine-readable error code"
              example: "VALIDATION_ERROR"
            details:
              type: array
              description: "Field specific validation errors or additional context"
              items:
                type: object
                properties:
                  field:
                    type: string
                    example: "email"
                  message:
                    type: string
                    example: "Invalid email format"
    
    # User Schemas
    User:
      type: object
      properties:
        user_id:
          type: integer
          example: 12345
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        email:
          type: string
          example: "john.doe@example.com"
        phone_number:
          type: string
          example: "+250788123456"
        avatar_url:
          type: string
          example: "https://cdn.zoearwanda.com/avatars/user12345.jpg"
        default_city:
          type: string
          example: "Kigali"
        is_verified:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
    
    UserCreate:
      type: object
      required:
        - first_name
        - last_name
        - email
        - password
        - phone_number
      properties:
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        email:
          type: string
          example: "john.doe@example.com"
        password:
          type: string
          example: "securePassword123"
        phone_number:
          type: string
          example: "+250788123456"
        avatar_url:
          type: string
          example: "https://cdn.zoearwanda.com/avatars/user12345.jpg"
        default_city:
          type: string
          example: "Kigali"
        agent_code:
          type: string
          example: "AGENT123"
          description: "Optional referral code from agent"
    
    AuthTokens:
      type: object
      properties:
        access_token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.access"
        refresh_token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.refresh"
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          example: 3600

    AuthUserResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/User'
                tokens:
                  $ref: '#/components/schemas/AuthTokens'

    AuthTokenResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AuthTokens'

    AuthLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        password:
          type: string
          format: password
          example: "securePassword123"
        device_id:
          type: string
          example: "ios-device-123"

    LogoutRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: "Refresh token to revoke"
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.refresh"
        device_id:
          type: string
          description: "Optional device identifier for session management"
          example: "ios-device-123"

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.refresh"
        device_id:
          type: string
          example: "ios-device-123"

    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: "john.doe@example.com"

    ResetPasswordRequest:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
          description: "Password reset token received via email"
          example: "RESET-123456"
        password:
          type: string
          format: password
          example: "NewSecurePassword#2024"
        confirm_password:
          type: string
          format: password
          example: "NewSecurePassword#2024"

    VerifyEmailRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: "Email verification token"
          example: "VERIFY-123456"

    UserUpdate:
      type: object
      required:
        - first_name
        - last_name
        - phone_number
      properties:
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        phone_number:
          type: string
          example: "+250788123456"
        default_city:
          type: string
          example: "Kigali"
        avatar_url:
          type: string
          example: "https://cdn.zoearwanda.com/avatars/user12345.jpg"

    UserPatch:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
        default_city:
          type: string
        avatar_url:
          type: string

    AvatarUpdateRequest:
      type: object
      required:
        - avatar_url
      properties:
        avatar_url:
          type: string
          format: uri
          example: "https://cdn.zoearwanda.com/avatars/user12345.jpg"

    SavedLocation:
      type: object
      properties:
        saved_location_id:
          type: integer
          example: 10
        label:
          type: string
          example: "Home"
        city:
          type: string
          example: "Kigali"
        district:
          type: string
          example: "Gasabo"
        neighborhood:
          type: string
          example: "Kacyiru"
        address_line_1:
          type: string
          example: "KN 4 Ave"
        address_line_2:
          type: string
          example: "Apartment 2B"
        latitude:
          type: number
          format: float
          example: -1.9441
        longitude:
          type: number
          format: float
          example: 30.0619
        created_at:
          type: string
          format: date-time
          example: "2024-01-20T08:15:00Z"

    SavedLocationCreate:
      type: object
      required:
        - label
        - city
      properties:
        label:
          type: string
          example: "Home"
        city:
          type: string
          example: "Kigali"
        district:
          type: string
          example: "Gasabo"
        neighborhood:
          type: string
          example: "Kacyiru"
        address_line_1:
          type: string
          example: "KN 4 Ave"
        address_line_2:
          type: string
          example: "Apartment 2B"
        latitude:
          type: number
          format: float
          example: -1.9441
        longitude:
          type: number
          format: float
          example: 30.0619

    SavedLocationUpdate:
      type: object
      properties:
        label:
          type: string
        city:
          type: string
        district:
          type: string
        neighborhood:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float

    FavoriteRequest:
      type: object
      required:
        - listing_id
      properties:
        listing_id:
          type: integer
          example: 5001

    SearchHistoryEntry:
      type: object
      properties:
        search_id:
          type: integer
          example: 25
        search_query:
          type: string
          example: "Hotels in Kigali"
        filters:
          type: object
          additionalProperties: true
          example:
            category: "hotel"
            rating_min: 4
        location:
          type: string
          example: "Kigali"
        searched_at:
          type: string
          format: date-time
          example: "2024-02-10T12:00:00Z"

    UserProfileResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/User'

    SavedLocationResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/SavedLocation'

    SavedLocationListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SavedLocation'

    FavoritesListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Listing'

    SearchHistoryListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SearchHistoryEntry'

    ListingResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Listing'

    ListingListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Listing'
            filters:
              type: object
              nullable: true
              additionalProperties: true

    BookingResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Booking'

    BookingListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Booking'

    PaymentInitiateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                payment_id:
                  type: integer
                  example: 9001
                transaction_id:
                  type: string
                  example: "TXN_2024_8001"
                payment_url:
                  type: string
                  format: uri
                  example: "https://payment.zoearwanda.com/checkout/txn_2024_8001"
                expires_at:
                  type: string
                  format: date-time
                  example: "2024-03-01T11:15:00Z"

    ReviewResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Review'

    Review:
      type: object
      properties:
        review_id:
          type: integer
          example: 3001
        user_id:
          type: integer
          example: 12345
        listing_id:
          type: integer
          example: 5001
        booking_id:
          type: integer
          nullable: true
          example: 8001
        order_id:
          type: integer
          nullable: true
        rating_overall:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        rating_quality:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        rating_value:
          type: integer
          minimum: 1
          maximum: 5
          example: 4
        rating_service:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        rating_experience:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          example: "Excellent stay! The staff was very helpful."
        review_photos:
          type: array
          items:
            type: string
            format: uri
        is_verified:
          type: boolean
          example: true
        is_featured:
          type: boolean
          example: false
        helpful_count:
          type: integer
          example: 12
        status:
          type: string
          example: "active"
        created_at:
          type: string
          format: date-time
          example: "2024-03-05T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-03-06T08:00:00Z"

    Merchant:
      type: object
      properties:
        merchant_id:
          type: integer
          example: 2001
        user_id:
          type: integer
          example: 12345
        business_name:
          type: string
          example: "Kigali Luxury Hotel"
        description:
          type: string
          example: "Premium hospitality services in Kigali"
        category:
          type: string
          example: "hotel"
        contact_phone:
          type: string
          example: "+250788000000"
        contact_email:
          type: string
          format: email
          example: "info@kigaliluxury.com"
        business_license:
          type: string
          example: "LIC-2025-001"
        is_verified:
          type: boolean
          example: false
        status:
          type: string
          example: "pending"
        onboarding_status:
          type: string
          example: "in_review"
        agent_id:
          type: integer
          nullable: true
          example: 551
        created_at:
          type: string
          format: date-time
          example: "2025-01-05T09:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-01-10T08:15:00Z"

    MerchantApplicationRequest:
      type: object
      required:
        - business_name
        - category
        - contact_phone
        - contact_email
      properties:
        business_name:
          type: string
        description:
          type: string
        category:
          type: string
          description: "hotel, restaurant, event_venue, tour_operator, shop, service"
          example: "hotel"
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email
        business_license:
          type: string
        agent_code:
          type: string
          description: "Referral agent code"

    MerchantApplicationResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                merchant:
                  $ref: '#/components/schemas/Merchant'

    MerchantOnboardingStatus:
      type: object
      properties:
        merchant_id:
          type: integer
          example: 2001
        status:
          type: string
          example: "pending"
        onboarding_status:
          type: string
          example: "in_review"
        pending_documents:
          type: array
          items:
            type: string
          example: ["business_license", "tax_clearance"]
        last_updated:
          type: string
          format: date-time
          example: "2025-01-12T11:00:00Z"

    MerchantOnboardingStatusResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MerchantOnboardingStatus'

    MerchantUpdateRequest:
      type: object
      properties:
        business_name:
          type: string
        description:
          type: string
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email
        category:
          type: string
        status:
          type: string
        onboarding_status:
          type: string
        is_verified:
          type: boolean

    MerchantResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Merchant'

    MerchantOnboardingUpdateRequest:
      type: object
      properties:
        status:
          type: string
          example: "approved"
        onboarding_status:
          type: string
          example: "approved"
        notes:
          type: string

    MerchantDocumentUploadRequest:
      type: object
      required:
        - document_type
        - file_url
      properties:
        document_type:
          type: string
          example: "business_license"
        file_url:
          type: string
          format: uri
          example: "https://cdn.zoea.com/docs/license.pdf"
        issued_at:
          type: string
          format: date
        expires_at:
          type: string
          format: date

    MerchantSearchParams:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        sort:
          type: string
          example: "business_name"
        order:
          type: string
          enum: [asc, desc]
          example: "asc"
        search:
          type: string
          example: "kigali"
        status:
          type: string
          example: "active"
        category:
          type: string
          example: "hotel"

    MerchantSearchResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Merchant'

    MerchantLocation:
      type: object
      properties:
        location_id:
          type: integer
          example: 301
        address_line_1:
          type: string
          example: "KG 7 Ave"
        address_line_2:
          type: string
          example: "Suite 10"
        city:
          type: string
          example: "Kigali"
        district:
          type: string
          example: "Gasabo"
        neighborhood:
          type: string
          example: "Kacyiru"
        latitude:
          type: number
          format: float
          example: -1.944
        longitude:
          type: number
          format: float
          example: 30.062
        timezone:
          type: string
          example: "Africa/Kigali"

    MerchantLocationCreate:
      type: object
      required:
        - address_line_1
        - city
        - district
      properties:
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        district:
          type: string
        neighborhood:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        timezone:
          type: string

    MerchantLocationUpdate:
      type: object
      properties:
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        district:
          type: string
        neighborhood:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        timezone:
          type: string

    MerchantLocationResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MerchantLocation'

    MerchantLocationListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/MerchantLocation'

    MerchantSubscription:
      type: object
      properties:
        subscription_id:
          type: integer
          example: 7001
        plan:
          type: string
          example: "premium"
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        status:
          type: string
          example: "active"
        payment_id:
          type: integer
          nullable: true
          example: 9101
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MerchantSubscriptionRequest:
      type: object
      required:
        - plan
      properties:
        plan:
          type: string
          example: "premium"
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date

    MerchantSubscriptionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MerchantSubscription'

    MerchantSubscriptionListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/MerchantSubscription'

    MerchantPromotion:
      type: object
      properties:
        promotion_id:
          type: integer
          example: 8001
        title:
          type: string
          example: "Holiday Flash Sale"
        description:
          type: string
        promotion_type:
          type: string
          example: "flash_sale"
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        discount_percent:
          type: number
          format: float
          example: 15
        discount_amount:
          type: number
          format: float
          nullable: true
        status:
          type: string
          example: "scheduled"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MerchantPromotionRequest:
      type: object
      required:
        - title
        - promotion_type
        - start_date
        - end_date
      properties:
        title:
          type: string
        description:
          type: string
        promotion_type:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        discount_percent:
          type: number
          format: float
        discount_amount:
          type: number
          format: float
        status:
          type: string
          example: "scheduled"

    MerchantPromotionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MerchantPromotion'

    MerchantPromotionListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/MerchantPromotion'

    MerchantAnalytics:
      type: object
      properties:
        visits:
          type: integer
          example: 1250
        orders:
          type: integer
          example: 89
        bookings:
          type: integer
          example: 45
        revenue:
          type: number
          format: float
          example: 12500.5
        period:
          type: string
          example: "monthly"

    MerchantAnalyticsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MerchantAnalytics'
    
    # Location Schemas
    Location:
      type: object
      properties:
        location_id:
          type: integer
          example: 1
        merchant_id:
          type: integer
          example: 1001
        address_line_1:
          type: string
          example: "KN 4 Ave"
        address_line_2:
          type: string
          example: "Kacyiru"
        city:
          type: string
          example: "Kigali"
        district:
          type: string
          example: "Gasabo"
        neighborhood:
          type: string
          example: "Kacyiru"
        latitude:
          type: number
          format: float
          example: -1.9441
        longitude:
          type: number
          format: float
          example: 30.0619
        timezone:
          type: string
          example: "Africa/Kigali"
    
    # Listing Base Schema
    ListingBase:
      type: object
      properties:
        listing_id:
          type: integer
          example: 5001
        merchant_id:
          type: integer
          example: 1001
        title:
          type: string
          example: "Kigali Marriott Hotel"
        description:
          type: string
          example: "Luxury hotel in the heart of Kigali"
        type:
          type: string
          enum: [hotel, event, restaurant, tour, product, service]
          example: "hotel"
        base_price:
          type: number
          format: float
          example: 150.00
        is_active:
          type: boolean
          example: true
        operating_hours:
          type: object
          example: {"monday": "09:00-18:00", "tuesday": "09:00-18:00"}
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-20T15:45:00Z"
    
    # Hotel Specific Schemas
    HotelRoomType:
      type: object
      properties:
        room_type_id:
          type: integer
          example: 1
        listing_id:
          type: integer
          example: 5001
        name:
          type: string
          example: "Deluxe King Room"
        description:
          type: string
          example: "Spacious room with king bed and city view"
        max_occupancy:
          type: integer
          example: 2
        total_rooms:
          type: integer
          example: 10
        amenities:
          type: array
          items:
            type: string
          example: ["wifi", "air_conditioning", "tv", "minibar"]
        board_type:
          type: string
          enum: [RO, BB, HB, AI]
          example: "BB"
        is_refundable:
          type: boolean
          example: true
        base_price:
          type: number
          format: float
          example: 200.00
        room_config:
          type: object
          example: {"bed_type": "king", "size_sqm": 35, "smoking": false}
    
    RatePlan:
      type: object
      properties:
        rate_plan_id:
          type: integer
          example: 1
        room_type_id:
          type: integer
          example: 1
        name:
          type: string
          example: "Early Bird Discount"
        board_type:
          type: string
          enum: [RO, BB, HB, AI]
          example: "BB"
        is_refundable:
          type: boolean
          example: true
        price:
          type: number
          format: float
          example: 180.00
        currency:
          type: string
          example: "USD"
        min_stay:
          type: integer
          example: 1
        max_stay:
          type: integer
          example: 14
        restrictions:
          type: object
          example: {"min_advance_booking": 2, "closed_to_arrival": false}
        blackout_dates:
          type: array
          items:
            type: string
            format: date
          example: ["2024-12-25", "2024-12-31"]
    
    # Restaurant Specific Schema
    RestaurantTable:
      type: object
      properties:
        table_id:
          type: integer
          example: 1
        listing_id:
          type: integer
          example: 5002
        table_type:
          type: string
          enum: [indoor, outdoor, private]
          example: "indoor"
        capacity:
          type: integer
          example: 4
        table_count:
          type: integer
          example: 8
        min_booking_duration_minutes:
          type: integer
          example: 90
    
    # Event Specific Schema
    Event:
      type: object
      properties:
        event_id:
          type: integer
          example: 1
        listing_id:
          type: integer
          example: 5003
        event_name:
          type: string
          example: "Kigali Jazz Festival"
        event_date:
          type: string
          format: date-time
          example: "2024-03-15T19:00:00Z"
        end_date:
          type: string
          format: date-time
          example: "2024-03-15T23:00:00Z"
        venue_name:
          type: string
          example: "Kigali Convention Center"
        total_tickets:
          type: integer
          example: 1000
        available_tickets:
          type: integer
          example: 250
        ticket_tiers:
          type: array
          items:
            type: object
            properties:
              tier_name:
                type: string
                example: "VIP"
              price:
                type: number
                format: float
                example: 75.00
              available:
                type: integer
                example: 50
        is_recurring:
          type: boolean
          example: false
    
    # Complete Listing with Polymorphic Data
    Listing:
      allOf:
        - $ref: '#/components/schemas/ListingBase'
        - type: object
          properties:
            location:
              $ref: '#/components/schemas/Location'
            gallery_images:
              type: array
              items:
                type: string
              example: ["https://cdn.zoearwanda.com/listings/5001/1.jpg"]
            hotel_room_types:
              type: array
              items:
                $ref: '#/components/schemas/HotelRoomType'
            restaurant_tables:
              type: array
              items:
                $ref: '#/components/schemas/RestaurantTable'
            events:
              type: array
              items:
                $ref: '#/components/schemas/Event'
            products:
              type: array
              items:
                $ref: '#/components/schemas/Product'
            services:
              type: array
              items:
                $ref: '#/components/schemas/ServiceOffering'
            tours:
              type: array
              items:
                $ref: '#/components/schemas/TourPackage'
    
    # Booking Schemas
    Booking:
      type: object
      properties:
        booking_id:
          type: integer
          example: 8001
        user_id:
          type: integer
          example: 12345
        listing_id:
          type: integer
          example: 5001
        resource_id:
          type: integer
          example: 1
        booking_type:
          type: string
          enum: [hotel_stay, event_ticket, restaurant, tour, product, service]
          example: "hotel_stay"
        status:
          type: string
          enum: [pending, confirmed, checked_in, completed, cancelled, no_show]
          example: "confirmed"
        start_time:
          type: string
          format: date-time
          example: "2024-03-20T14:00:00Z"
        end_time:
          type: string
          format: date-time
          example: "2024-03-22T11:00:00Z"
        quantity:
          type: integer
          example: 1
        guest_count:
          type: integer
          example: 2
        base_amount:
          type: number
          format: float
          example: 400.00
        tax_amount:
          type: number
          format: float
          example: 40.00
        service_fee:
          type: number
          format: float
          example: 20.00
        total_amount:
          type: number
          format: float
          example: 460.00
        currency:
          type: string
          example: "USD"
        booking_details:
          type: object
          example: {"room_type": "Deluxe King", "breakfast_included": true}
        special_requests:
          type: string
          example: "Late checkout requested"
        confirmation_code:
          type: string
          example: "ZOA-HTL-2024-8001"
        created_at:
          type: string
          format: date-time
          example: "2024-03-01T10:15:00Z"
    
    # Search and Filter Parameters
    SearchParams:
      type: object
      properties:
        query:
          type: string
          description: "Search query string"
          example: "hotel"
        location:
          type: string
          description: "City, district or neighborhood"
          example: "Kigali"
        latitude:
          type: number
          format: float
          description: "User's current latitude for nearby search"
          example: -1.9441
        longitude:
          type: number
          format: float
          description: "User's current longitude for nearby search"
          example: 30.0619
        radius:
          type: integer
          description: "Search radius in kilometers"
          example: 10
        category:
          type: string
          enum: [hotel, restaurant, event, tour, product, service]
          example: "hotel"
        price_min:
          type: number
          format: float
          example: 50
        price_max:
          type: number
          format: float
          example: 200
        rating_min:
          type: integer
          minimum: 1
          maximum: 5
          example: 4
        tags:
          type: array
          items:
            type: string
          example: ["wifi", "parking", "pool"]
        date_from:
          type: string
          format: date
          example: "2024-03-20"
        date_to:
          type: string
          format: date
          example: "2024-03-22"
        guests:
          type: integer
          example: 2
        sort:
          type: string
          description: "Field to sort by"
          enum: [distance, rating, price, popularity]
          example: "rating"
        order:
          type: string
          description: "Sort direction"
          enum: [asc, desc]
          example: "asc"
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20

paths:
  # AUTH ENDPOINTS
  /api/v1/auth/register:
    post:
      summary: Register a new user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/login:
    post:
      summary: Authenticate user credentials
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/logout:
    post:
      summary: Invalidate the current session
      tags: [Authentication]
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Logout completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/auth/refresh-token:
    post:
      summary: Refresh access tokens
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/forgot-password:
    post:
      summary: Request password reset link
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Password reset email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/auth/reset-password:
    post:
      summary: Reset password using a reset token
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/verify-email:
    post:
      summary: Verify a user's email address
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid verification token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # USER ENDPOINTS
  /api/v1/users/me:
    get:
      summary: Get current user profile
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
    put:
      summary: Update user profile (replace)
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: User profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
    patch:
      summary: Partially update user profile
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPatch'
      responses:
        '200':
          description: User profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
    delete:
      summary: Delete user account
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/users/{user_id}:
    get:
      summary: Get public profile for a user
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'

  /api/v1/users/{user_id}/avatar:
    put:
      summary: Update a user's avatar image
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvatarUpdateRequest'
      responses:
        '200':
          description: Avatar updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'

  /api/v1/users/me/saved-locations:
    get:
      summary: List saved locations for current user
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Saved locations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationListResponse'
    post:
      summary: Create a saved location
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedLocationCreate'
      responses:
        '201':
          description: Saved location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationResponse'

  /api/v1/users/me/saved-locations/{saved_location_id}:
    put:
      summary: Update a saved location
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: saved_location_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedLocationUpdate'
      responses:
        '200':
          description: Saved location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationResponse'
    delete:
      summary: Delete a saved location
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: saved_location_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Saved location deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/users/me/favorites:
    get:
      summary: Get user's favorite listings
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sort
          schema:
            type: string
          example: "created_at"
          description: Sort field
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort direction
      responses:
        '200':
          description: Favorites retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoritesListResponse'
    post:
      summary: Add listing to favorites
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteRequest'
      responses:
        '201':
          description: Listing added to favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/users/me/favorites/{listing_id}:
    delete:
      summary: Remove listing from favorites
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: listing_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Listing removed from favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/users/me/search-history:
    get:
      summary: Get saved search history
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sort
          schema:
            type: string
          example: "searched_at"
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - in: query
          name: search
          schema:
            type: string
          description: Filter by query text
      responses:
        '200':
          description: Search history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchHistoryListResponse'
    delete:
      summary: Clear entire search history
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Search history cleared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/users/me/search-history/{search_id}:
    delete:
      summary: Remove a specific search entry
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: search_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Search history entry deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # LISTINGS ENDPOINTS
  /api/v1/listings:
    get:
      summary: Search and filter listings
      tags: [Listings]
      parameters:
        - in: query
          name: query
          schema:
            type: string
          description: Search query
        - in: query
          name: location
          schema:
            type: string
          description: City, district or neighborhood
        - in: query
          name: latitude
          schema:
            type: number
            format: float
          description: User's current latitude
        - in: query
          name: longitude
          schema:
            type: number
            format: float
          description: User's current longitude
        - in: query
          name: radius
          schema:
            type: integer
          description: Search radius in km
        - in: query
          name: category
          schema:
            type: string
            enum: [hotel, restaurant, event, tour, product, service]
          description: Listing category
        - in: query
          name: price_min
          schema:
            type: number
            format: float
          description: Minimum price
        - in: query
          name: price_max
          schema:
            type: number
            format: float
          description: Maximum price
        - in: query
          name: rating_min
          schema:
            type: integer
            minimum: 1
            maximum: 5
          description: Minimum rating
        - in: query
          name: date_from
          schema:
            type: string
            format: date
          description: Check-in/event start date
        - in: query
          name: date_to
          schema:
            type: string
            format: date
          description: Check-out/event end date
        - in: query
          name: guests
          schema:
            type: integer
          description: Number of guests
        - in: query
          name: sort
          schema:
            type: string
            enum: [distance, rating, price, popularity]
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort direction
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Items per page
      responses:
        '200':
          description: Listings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingListResponse'

    post:
      summary: Create a new listing (Merchant only)
      tags: [Listings]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchant_id, title, type, base_price]
              properties:
                merchant_id:
                  type: integer
                  example: 1001
                title:
                  type: string
                  example: "New Restaurant"
                description:
                  type: string
                  example: "A great new restaurant"
                type:
                  type: string
                  enum: [hotel, event, restaurant, tour, product, service]
                  example: "restaurant"
                base_price:
                  type: number
                  format: float
                  example: 25.00
                location:
                  $ref: '#/components/schemas/Location'
                hotel_room_types:
                  type: array
                  items:
                    $ref: '#/components/schemas/HotelRoomType'
                restaurant_tables:
                  type: array
                  items:
                    $ref: '#/components/schemas/RestaurantTable'
      responses:
        '201':
          description: Listing created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'

  /api/v1/listings/{listing_id}:
    get:
      summary: Get listing details by ID
      tags: [Listings]
      parameters:
        - in: path
          name: listing_id
          required: true
          schema:
            type: integer
          description: Listing ID
      responses:
        '200':
          description: Listing details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'

  # BOOKINGS ENDPOINTS
  /api/v1/bookings:
    get:
      summary: Get user's bookings
      tags: [Bookings]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, confirmed, checked_in, completed, cancelled, no_show]
          description: Filter by booking status
        - in: query
          name: type
          schema:
            type: string
            enum: [hotel_stay, event_ticket, restaurant, tour, product, service]
          description: Filter by booking type
        - in: query
          name: sort
          schema:
            type: string
            enum: [created_at, start_time, end_time, status]
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort direction
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
          description: Items per page
      responses:
        '200':
          description: Bookings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResponse'

    post:
      summary: Create a new booking
      tags: [Bookings]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listing_id, resource_id, booking_type, start_time, end_time, quantity]
              properties:
                listing_id:
                  type: integer
                  example: 5001
                resource_id:
                  type: integer
                  example: 1
                booking_type:
                  type: string
                  enum: [hotel_stay, event_ticket, restaurant, tour, product, service]
                  example: "hotel_stay"
                start_time:
                  type: string
                  format: date-time
                  example: "2024-03-20T14:00:00Z"
                end_time:
                  type: string
                  format: date-time
                  example: "2024-03-22T11:00:00Z"
                quantity:
                  type: integer
                  example: 1
                guest_count:
                  type: integer
                  example: 2
                special_requests:
                  type: string
                  example: "Late checkout requested"
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      full_name:
                        type: string
                        example: "John Doe"
                      email:
                        type: string
                        example: "john.doe@example.com"
                addons:
                  type: array
                  items:
                    type: object
                    properties:
                      addon_type:
                        type: string
                        example: "breakfast"
                      quantity:
                        type: integer
                        example: 2
      responses:
        '201':
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'

  /api/v1/bookings/{booking_id}:
    get:
      summary: Get booking details
      tags: [Bookings]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Booking details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'

    patch:
      summary: Update booking (cancel, modify)
      tags: [Bookings]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [cancelled]
                  example: "cancelled"
                cancellation_reason:
                  type: string
                  example: "Change of plans"
      responses:
        '200':
          description: Booking updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # PAYMENTS ENDPOINTS
  /api/v1/payments/initiate:
    post:
      summary: Initiate a payment
      tags: [Payments]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [booking_id, payment_method, amount]
              properties:
                booking_id:
                  type: integer
                  example: 8001
                payment_method:
                  type: string
                  enum: [irembo_pay, momo, airtel, card]
                  example: "momo"
                amount:
                  type: number
                  format: float
                  example: 460.00
                payment_type:
                  type: string
                  enum: [full, deposit, installment]
                  example: "full"
                is_split_payment:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Payment initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiateResponse'

  # REVIEWS ENDPOINTS
  /api/v1/reviews:
    post:
      summary: Create a review
      tags: [Reviews]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listing_id, rating_overall, comment]
              properties:
                listing_id:
                  type: integer
                  example: 5001
                booking_id:
                  type: integer
                  example: 8001
                rating_overall:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 5
                rating_quality:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 5
                rating_value:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 4
                rating_service:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 5
                rating_experience:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 5
                comment:
                  type: string
                  example: "Excellent stay! The staff was very helpful."
                review_photos:
                  type: array
                  items:
                    type: string
                  example: ["https://cdn.zoearwanda.com/reviews/1/photo1.jpg"]
      responses:
        '201':
          description: Review created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewResponse'

  # MERCHANT ENDPOINTS
  /api/v1/merchants/apply:
    post:
      summary: Submit merchant onboarding application
      tags: [Merchants]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantApplicationRequest'
      responses:
        '201':
          description: Application submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantApplicationResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/merchants/onboarding-status:
    get:
      summary: Get current merchant onboarding status
      tags: [Merchants]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Onboarding status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantOnboardingStatusResponse'

  /api/v1/merchants/onboarding/{merchant_id}:
    put:
      summary: Update merchant onboarding review
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantOnboardingUpdateRequest'
      responses:
        '200':
          description: Onboarding status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/merchants/{merchant_id}/documents:
    post:
      summary: Upload merchant onboarding document
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantDocumentUploadRequest'
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/merchants/me:
    get:
      summary: Get merchant profile for current user
      tags: [Merchants]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Merchant profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
    put:
      summary: Update merchant profile
      tags: [Merchants]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantUpdateRequest'
      responses:
        '200':
          description: Merchant profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'

  /api/v1/merchants/{merchant_id}:
    get:
      summary: Get merchant profile by ID
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Merchant profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/merchants/search:
    get:
      summary: Search and filter merchants
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sort
          schema:
            type: string
            example: "business_name"
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - in: query
          name: search
          schema:
            type: string
            description: "Search text for merchant name or description"
        - in: query
          name: status
          schema:
            type: string
            example: "active"
        - in: query
          name: category
          schema:
            type: string
            example: "hotel"
        - in: query
          name: city
          schema:
            type: string
            example: "Kigali"
      responses:
        '200':
          description: Merchants retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSearchResponse'

  /api/v1/merchants/me/locations:
    get:
      summary: List merchant locations
      tags: [Merchants]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Merchant locations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLocationListResponse'
    post:
      summary: Create a merchant location
      tags: [Merchants]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantLocationCreate'
      responses:
        '201':
          description: Merchant location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponse'

  /api/v1/merchants/me/locations/{location_id}:
    put:
      summary: Update a merchant location
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: location_id
          required: true
          schema:
                  type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantLocationUpdate'
      responses:
        '200':
          description: Merchant location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponse'
    delete:
      summary: Delete a merchant location
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: location_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Merchant location deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/merchants/me/subscriptions:
    get:
      summary: List merchant subscriptions
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Merchant subscriptions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSubscriptionListResponse'
    post:
      summary: Create a merchant subscription
      tags: [Merchants]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantSubscriptionRequest'
      responses:
        '201':
          description: Merchant subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSubscriptionResponse'

  /api/v1/merchants/me/subscriptions/{subscription_id}:
    put:
      summary: Update a merchant subscription
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: subscription_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantSubscriptionRequest'
      responses:
        '200':
          description: Merchant subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSubscriptionResponse'
    delete:
      summary: Cancel a merchant subscription
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: subscription_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Merchant subscription cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/merchants/me/promotions:
    get:
      summary: List merchant promotions
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: status
          schema:
            type: string
            example: "active"
      responses:
        '200':
          description: Merchant promotions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPromotionListResponse'
    post:
      summary: Create a merchant promotion
      tags: [Merchants]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantPromotionRequest'
      responses:
        '201':
          description: Merchant promotion created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPromotionResponse'

  /api/v1/merchants/me/promotions/{promotion_id}:
    put:
      summary: Update a merchant promotion
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: promotion_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantPromotionRequest'
      responses:
        '200':
          description: Merchant promotion updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPromotionResponse'
    delete:
      summary: Delete a merchant promotion
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: promotion_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Merchant promotion deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/merchants/{merchant_id}/analytics:
    get:
      summary: Get merchant analytics
      tags: [Merchants]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: integer
        - in: query
          name: period
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: monthly
        - in: query
          name: start_date
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAnalyticsResponse'

tags:
  - name: Authentication
    description: User registration and authentication
  - name: Listings
    description: Browse and search listings
  - name: Bookings
    description: Manage bookings and reservations
  - name: Payments
    description: Payment processing
  - name: Reviews
    description: User reviews and ratings
  - name: Users
    description: User profile and preferences
  - name: Merchants
    description: Merchant management
  - name: Agents
    description: Agent program management